body{
  font-family: helvetica;
  
}
img{
  width 100%;
}
.nav{

}
.grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 900px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid>article>p{
    color: lightblue;
    font-size: 26px;
  }
}
@media(max-width: 600px){
  .grid{
    grid-template-columns: 1fr 1fr;
  }
  .grid>article>p{
    color: black;
    font-size: 32px;
  }
}
