body{
  background-color: lightgreen;
  color: black;
  margin-left: 200px;
  margin-right: 200px;
  font-family: arial;
}
h1{
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px 0 grey;
}
ul{
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
ul li{
  display: inline;
}
ul li a{
  text-decoration: none;
  background-color: lightyellow;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: black;
}
