body{
  background-color: lightblue;
  color: black;
  margin-left: 200px;
  margin-right: 200px;
  font-family: arial;
}
h1{
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px 0 grey;
}
h2{
font-style: italic;
}
h3{
font-style: italic;
}
p::first-letter{
  font-size: 22px
}
ul{
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
li{
  display: inline;
}
li a{
  text-decoration: none;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: black;
}
li a:hover{
  background-color: lightyellow;
}
li a:{
  background-color: lightyellow;
}
img{
  width: 400px;
  display: block;
  margin-right: 10px;
  border: solid black;
}
video{
  width: 300px;
  display: block;
  border: solid white;
}
table{
  border-collapse: collapse;
}
thead{
  background-color: lightgrey;
}
tbody{
  background-color: lightpink;
}
th{
  text-align: left;
  color: black;
  padding: 7px;
  border: 2px solid black;
  border-bottom: 4px solid black
}
td{
  padding: 7px;
  color: black;
  border: 2px solid black;
}
