body{
  background-color: #262626;
  color: white;
}
header{
  font-size: 20px;
  font-weight: lighter;
  font-family: monospace;
}

header>h1{
  width: 300px;
  text-align: center;
  text-shadow: 2px 3px 0 black;
}
ul{
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
li{
  display: inline;
}
li a{
  text-decoration: none;
  background-color: #e6e600;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: white;
}
li a:hover{
  background-color: lightblue;
}
main{
  font-size:16px;
  font-variant:normal;
}
p::first-letter{
  font-size: 18px
}

img{
  width: 40%;
  display: block;
  margin-right: 10px;
  border: solid white;
}
video{
  width: 300px;
  display: block;
  margin-right: 10px;
  border: solid white;
}
table{
  border-collapse: collapse;
}
thead{
  background-color: white;
}
tbody{
  background-color: #e6e600;
}
th{
  text-align: left;
  color: black;
  padding: 7px;
  border: 2px solid black;
  border-bottom: 4px solid black
}
td{
  padding: 7px;
  color: black;
  border: 2px solid black;
}
