body{
  background-color: lightblue;
}
#hoved{
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-gap: 5px;
}
.grunnstoff{
  background-color: pink;
}
.col-span-16{
  grid-column: span 16;
}
.col-span-10{
  grid-column: span 10;
}
.col-span-2{
  grid-column: span 2;
}
.usynlig{
  opacity: 0;
}
#lantanider{
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-gap: 5px;
  margin-top: 20px;
}
.metaller{
  background-color: lightyellow;
}
.halv-metaller{
  background-color: #eee;
}
.ikke-metaller{
  background-color: violet;
}
.tall, .navn{
padding-left: 10px;
}
